<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ehrppk.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>ehrppk.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ehrppk</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ehrppk</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="PosEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:prasanna.database.windows.net,1433;Initial Catalog=ehrdev;User ID=prasanna@prasanna;Password=password@321;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:prasanna.database.windows.net,1433;Initial Catalog=ehrdev;User ID=prasanna@prasanna;Password=password@321;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="pos.Lib.Repository.PosEntities, pos" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="EPConnectionString" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:prasanna.database.windows.net,1433;Initial Catalog=ehrdev;User ID=prasanna@prasanna;Password=password@321;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:prasanna.database.windows.net,1433;Initial Catalog=ehrdev;User ID=prasanna@prasanna;Password=password@321;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:prasanna.database.windows.net,1433;Initial Catalog=ehrdev;User ID=prasanna@prasanna;Password=password@321;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\EPConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:prasanna.database.windows.net,1433;Database=ehrdev;User ID=prasanna@prasanna;Password=password@321;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)EPConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:prasanna.database.windows.net,1433;Initial Catalog=ehrdev;User ID=prasanna@prasanna;Password=password@321;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PosEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Lib.Repository.Pos.csdl|res://*/Lib.Repository.Pos.ssdl|res://*/Lib.Repository.Pos.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:prasanna.database.windows.net,1433;Initial Catalog=ehrdev;User ID=prasanna@prasanna;Password=password@321;MultipleActiveResultSets=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>