<form editable-form name="notesForm" onbeforesave="vm.saveNotes($data)" onaftersave="vm.aftersavenotes()">
    <div class="ui-grid">
        <div layout="row" class="ui-grid-header ui-grid-top-panel ui-grid-cell-contents">
            <span flex>Demographics</span>
            <md-button type="button" class="md-raised" ng-click="notesForm.$show()" ng-show="!notesForm.$visible">
                Edit
            </md-button>
            <!-- buttons to submit / cancel form -->
            <span ng-show="notesForm.$visible">
                <md-button type="button" class="md-raised" ng-disabled="notesForm.$waiting" ng-click="vm.cancelNotes($event)">
                    Cancel
                </md-button>
                <md-button type="submit" class="md-primary md-raised" ng-disabled="notesForm.$waiting">
                    Save
                </md-button>
            </span>
        </div>
    </div>

    <p>new list</p>
    <div>
        <notes-input input-list="{ 'text-1': vm.model.SpcWr1OD, 'text-2': vm.model.Compliant, 'text-3': vm.model.ExamDate }">{{vm.model.SpcWr1OD.Value}}</notes-input>
    </div>
</form>

<br />
check this example, which passes an array
http://stackoverflow.com/questions/16138658/angularjs-create-directive-pass-in-array-of-key-value-pairs-for-buttons-that-r
<br />
