@using System.Web.Optimization
<html data-ng-app="pos">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pediatric Ophthalmology</title>
    @Styles.Render("~/Content/css")
</head>
<body class="main">
    <div id="applicationHost">
        <div id="splash" class="splash">
            @*<h2 class="splash-header">Welcome to e-Pediatric Ophthalmology & Strabismus</h2>*@
                <a href="/home">Home</a> | <a href="/contact">Contact</a> | <a href="/patient">Patient</a> | <a href="/notes/1/395/53738">Notes</a>
                @*<a href="/patient">Patient|</a> <a href="/notes">Notes|</a> <a href="/user">Users|</a> <a href="/print">Print</a>*@
            <div ng-view>
                <div id="splash" class="splash">
                    Loading ...
                </div>
            </div>
        </div>
    </div>
    @Scripts.Render("~/scripts/libraries")
    @Scripts.Render("~/scripts/app")
</body>
</html>
