@using System.Web.Optimization
<html data-ng-app="pos">
<head>
    <title>Testing</title>
    <base href="/pos" target="_blank">
    <link href="/content/angular-material.css" rel="stylesheet" />
    <link href="/content/angular-material-grey-theme.css" rel="stylesheet" />
</head>
<body class="main">

    <div ng-controller="fileUploader">
        <input type="file" onchange="angular.element(this).scope().setFile(this)">
        <br />
        <button ng-click="UploadFile()">Upload</button>
    </div>

    <script>
    window.virtualDirectory = '@ViewBag.VirtualDirectory';
    window.userAuthenticated = @ViewBag.UserAuthenticated;
    </script>
    @Scripts.Render("~/scripts/libraries")
    @Scripts.Render("~/scripts/app")


</body>
</html>


