<div class="row">
    <div class="col-sm-12">
        <div class="pos-box">
            <form editable-form name="demographicsForm">
                <div class="ui-grid">
                    <div class="ui-grid-header ui-grid-top-panel ui-grid-cell-contents">
                        <div class="float-left">Demographics</div>
                        <div class="float-right">
                            <!-- button to show form -->
                            <button type="button" class="btn btn-default" ng-click="demographicsForm.$show()" ng-show="!demographicsForm.$visible">
                                Edit
                            </button>
                            <!-- buttons to submit / cancel form -->
                            <span ng-show="demographicsForm.$visible">
                                <button type="submit" class="btn btn-primary" ng-disabled="demographicsForm.$waiting">
                                    Save
                                </button>
                                <button type="button" class="btn btn-default" ng-disabled="demographicsForm.$waiting" ng-click="demographicsForm.$cancel()">
                                    Cancel
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <img class="patient-photo" ng-src="{{vm.patientModel.PhotoUrl}}" />
                        </div>
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="col-sm-4 col-row-header">Patient Name</div>
                                <div class="col-sm-8 col-row-content">
                                    <span editable-text="vm.patientModel.FullName">{{ vm.patientModel.FullName | blankValue  }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-row-header">Patient #</div>
                                <div class="col-sm-8 col-row-content">
                                    <span editable-text="vm.patientModel.PatientNumber">{{ vm.patientModel.PatientNumber | blankValue  }}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-row-header">Date Of Birth</div>
                                <div class="col-sm-8 col-row-content">
                                    <span editable-bsdate="vm.patientModel.DateOfBirth">
                                        {{vm.patientModel.DateOfBirth | date:'MM/dd/yyyy' }} ({{vm.patientModel.DateOfBirth | patientAge}})
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-row-header">Premature Birth</div>
                                <div class="col-sm-8 col-row-content">
                                    <span href="#" editable-select="vm.patientModel.PrematureBirth" e-ng-options="s.value as s.text for s in vm.boolSelectList">
                                        {{vm.patientModel.PrematureBirth | boolText }}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-row-header">Sex</div>
                                <div class="col-sm-8 col-row-content">
                                    <span href="#" editable-select="vm.patientModel.Sex" e-ng-options="sex.FieldValue as sex.FieldDescription for sex in session.lookups.Sex">
                                        {{vm.patientModel.Sex}}
                                    </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4 col-row-header">Occupation</div>
                                <div class="col-sm-8 col-row-content">
                                    <span editable-textarea="vm.patientModel.Occupation" e-rows="3">{{ vm.patientModel.Occupation | blankValue  }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
